.vs/
.env
**/bin/
**/obj/
src/SmartPacking.Api/smartpacking.db*
src/SmartPacking.Api/wwwroot/uploads/
src/SmartPacking.Web/data-protection-keys/
/.sonarqube
/TestResults/Sonar/20260902-151303
/TestResults/Sonar/20260902-155706
/TestResults/
/artifacts/
